<section class = "sign-up-page">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full Name" %>
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email"%>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'sign-up-btn' %>
    </div>
  <% end %>
  <div class = log-in-links>
    <%= render "devise/shared/links" %>
  </div>
</section>